* {
    max-width: 100%;
}

.tooltip {
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
    color: rgb(0, 0, 0);
}

.tooltip .tooltip-content {
    font-size: 14px;
    line-height: 1.4;
    text-align: left;
    max-width: 200px;
}

.tooltip p {
    margin: 0;
}

.tooltip strong {
    font-weight: bold;
}

.choropleth-legend {
  font-size: 1.2em;
  letter-spacing: 0.1;
}

.slider-container {
    margin: 20px;
    text-align: center;
}

.slider-title {
    display: block;
    margin-bottom: 10px;
    color: #333;
}

.yearSlider {
    width: 80%;
    margin: 0 auto;
    background: #e57f50;
    border: none;
    color: #e57f50;
}

.selectedYear {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

.possibly-sidebyside > div {
  float: left;
}

.standard-legend {
  text-align: center;
}

.legend-item {
  display: inline-block;
  padding-right: 14px;
  vertical-align: middle;
}

.legend-color-box {
    display: inline-block; /* Display color box inline */
    width: 20px;
    height: 20px;
    vertical-align: middle; /* Align elements vertically */
    margin-right: 5px;
}

.legend-text {
    display: inline-block; /* Display text inline */
}

.education-level {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
}

.donut-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.yearSlider_italy {
    width: 80%;
    margin: 0 auto;
    background: #e57f50;
    border: none;
    color: #e57f50;
}

.selectedYear_italy {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

/* styles for the Sankey diagram */
.node rect {
  fill-opacity: .9;
  shape-rendering: crispEdges;
}

.node text {
  pointer-events: none;
  text-shadow: 0 1px 0 #fff;
}

.link {
  fill: none;
  stroke: #000;
  stroke-opacity: .2;
}

/* 

====== Zoom effect ======

*/
.mfp-zoom-in {
  
  /* start state */
  .mfp-with-anim {
    opacity: 0;
    transition: all 0.2s ease-in-out; 
    transform: scale(0.8); 
  }
  
  &.mfp-bg {
    opacity: 0;
	  transition: all 0.3s ease-out;
  }
  
  /* animate in */
  &.mfp-ready {
    .mfp-with-anim {
      opacity: 1;
      transform: scale(1); 
    }
    &.mfp-bg {
      opacity: 0.8;
    }
  }
  
  /* animate out */
  &.mfp-removing {
    
    .mfp-with-anim {
      transform: scale(0.8); 
      opacity: 0;
    }
    &.mfp-bg {
      opacity: 0;
    }
    
  }
  
}

/* text-based popup styling */
.white-popup {
  position: relative;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 25px;
  width: 725px;
  margin: 0 auto; 
}
