* {
    max-width: 100%;
}

.tooltip {
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
    color: rgb(0, 0, 0);
}

.tooltip .tooltip-content {
    font-size: 14px;
    line-height: 1.4;
    text-align: left;
    max-width: 200px;
}

.tooltip p {
    margin: 0;
}

.tooltip strong {
    font-weight: bold;
}

#choropleth_legend {
  font-size: 1.2em;
  letter-spacing: 0.1;
}

.slider-container {
    margin: 20px;
    text-align: center;
}

.slider-title {
    display: block;
    margin-bottom: 10px;
    color: #333;
}

.yearSlider {
    width: 80%;
    margin: 0 auto;
    background: #e57f50;
    border: none;
    color: #e57f50;
}

.selectedYear {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

.possibly-sidebyside > div {
  float: left;
}

.legend-item {
    display: inline-block;
    width: 175px;
    margin-right: 20px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

.legend-color-box {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}
